deta
streamlit_authenticator
##
langchain==0.1.4
langchain_community==0.0.16
langchain_core==0.1.17
langchain_openai==0.0.5
python-dotenv==1.0.1
streamlit==1.30.0
chromadb==0.3.29
bs4==0.0.2

#pdf
#langchain==0.0.154
PyPDF2==3.0.1
#python-dotenv==1.0.0
#streamlit==1.18.1
faiss-cpu==1.7.4
altair<5
